<div class="login-container">
  <div class="login-card">
    <h2>Bienvenue 👋</h2>
    <p class="subtitle">Connectez-vous à votre compte</p>

    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          [(ngModel)]="credentials.email"
          name="email"
          placeholder="exemple@email.com"
          required
        />
      </div>

      <div class="form-group">
        <label>Mot de passe</label>
        <input
          type="password"
          [(ngModel)]="credentials.password"
          name="password"
          placeholder="••••••••"
          required
        />
      </div>

      <button type="submit">Se connecter</button>
    </form>

    <p class="footer-text">
      Pas encore de compte ?
      <a routerLink="/register">Créer un compte</a>
    </p>
  </div>
</div>
