/* Fond */
.register-container {
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}


/* Carte */
.register-card {
  width: 450px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Titres */
.register-card h2 {
  margin-bottom: 5px;
  color: #333;
}

.subtitle {
  margin-bottom: 25px;
  color: #777;
}

/* Formulaire */
.form-group {
  text-align: left;
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #444;
}

.form-group input {
  width: 100%;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #667eea;
}

/* Bouton */
button {
  width: 100%;
  padding: 12px;
  background: #667eea;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #5a67d8;
}

/* Message succès */
.success-message {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}

/* Footer */
.footer-text {
  margin-top: 20px;
  color: #555;
}

.footer-text a {
  color: #667eea;
  text-decoration: none;
  font-weight: bold;
}
